.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app.control-mode {
  min-width: 320px;
  min-height: 400px;
}

.app.integrated-mode {
  min-width: 400px;
  min-height: 300px;
}
